body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

#user-group-link, #user-group-hashtags {
    margin: 20px;
    font-size: 18px;
}

#content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

#content #ad-posts ul li pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.scrollable {
    height: 700px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Custom Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #004080 #f8f8f8;
}

/* For Webkit browsers like Chrome/Safari */
.scrollable::-webkit-scrollbar {
    width: 12px;
}

.scrollable::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #004080;
    border-radius: 6px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #003366;
}

#ad-groups.scrollable {
    height: 700px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Custom Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #004080 #f8f8f8;
}

#ad-groups.scrollable::-webkit-scrollbar {
    width: 12px;
}

#ad-groups.scrollable::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 8px;
}

#ad-groups.scrollable::-webkit-scrollbar-thumb {
    background-color: #004080;
    border-radius: 6px;
}

#ad-groups.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #003366;
}

#ad-groups-container {
    display: flex;
    flex-direction: column;
    width: 48%;  /* Чтобы кнопка и scrollable были одинаковой ширины */
}

#ad-posts-container {
    display: flex;
    flex-direction: column;
    width: 48%;  /* Чтобы кнопка и scrollable были одинаковой ширины */
}

#showAllAdGroupsBtn {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 102%;  /* Растягиваем кнопку на всю ширину родительского элемента */
}

#showAllAdGroupsBtn:hover {
    background-color: #003366;
}

#editPostsBtn {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 102%;  /* Растягиваем кнопку на всю ширину родительского элемента */
}

#editPostsBtn:hover {
    background-color: #003366;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 95%;
}

#uploadForm input[type="file"] {
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
}

#uploadForm button {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#uploadForm button:hover {
    background-color: #003366;
}

#imageSelectionForm button {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;  /* Растягиваем кнопку на всю ширину родительского элемента */
}

#imageSelectionForm button:hover {
    background-color: #003366;
}

#createPostForm button {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;  /* Растягиваем кнопку на всю ширину родительского элемента */
}

#createPostForm button:hover {
    background-color: #003366;
}

h2 {
    text-align: center;
    color: #1a1a1a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1px 0;
    font-size: 14px;
    text-align: left;
}


th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1a1a1a;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #004080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #1a1a1a;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    position: fixed;
    top: 10%;
    left: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
    max-width: 850px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Custom Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #004080 #f8f8f8;
}

.posts-container {
    max-height: calc(100% - 60px);  /* Adjusted height to make space for the button */
    overflow-y: auto;
    margin-bottom: 40px
    /* Other styles... */
}

.overlay-content::-webkit-scrollbar {
    width: 12px;
}

.overlay-content::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 8px;
}

.overlay-content::-webkit-scrollbar-thumb {
    background-color: #004080;
    border-radius: 6px;
}

.overlay-content::-webkit-scrollbar-thumb:hover {
    background-color: #003366;
}

.close-btn {
    font-size: 25px;
    float: right;
    cursor: pointer;
    color: #1a1a1a;
}

#associateAdGroupForm {
    margin-top: 20px;
}

#associateAdGroupForm label,
#associateAdGroupForm button,
#associateAdGroupForm input {
    font-size: 18px;
}

#associateAdGroupForm button {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#associateAdGroupForm button:hover {
    background-color: #003366;
}

#addAdGroupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 80%;  /* Adjust width as per requirement */
}

#addAdGroupForm input,
#addAdGroupForm button {
    width: 100%;  /* Full width of the parent */
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#addAdGroupForm input[type="checkbox"] {
    width: auto;  /* Reset width for checkbox */
}

.checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    font-size: 16px;
    user-select: none;
    line-height: 20px;
    width: 100%;  /* Full width of the parent */
    display: flex;  /* Align checkbox and label text */
    align-items: center;  /* Center vertically */
    margin-bottom: 20px;  /* Added bottom margin */
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
}

.checkbox-label:hover input ~ .checkmark {
    background-color: #bbb;
}

.checkbox-label input:checked ~ .checkmark {
    background-color: #004080;
}

#addAdGroupForm button {
    background-color: #004080;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addAdGroupForm button:hover {
    background-color: #003366;
}

#addAdGroupForm select,
#addAdGroupForm span {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;  /* Ensure the description appears below the select */
}

#addAdGroupForm select {
    padding: 10px;
    width: 103%;
    box-sizing: border-box;  /* Ensure padding doesn't increase width */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#directionDescription {
    color: #555;
    font-style: italic;
}

.delete-btn {
    background-color: transparent;
    color: #ff0000;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.delete-btn:hover {
    color: #cc0000;
}

.delete-image-btn {
    background-color: transparent;
    color: #ff0000;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.delete-image-btn:hover {
    color: #fff;
}


.delete-post-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #003366;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-post-btn:hover {
    background-color: #ff1f1f;
    color: #fff;
}

.create-post-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;  /* Full width */
    background-color: #003366;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0;  /* No rounded corners at the bottom */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.create-post-btn:hover {
    background-color: #02de6c;
    color: #fff;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;  /* Center the carousel */
    border-radius: 8px;  /* Soften the edges */
    overflow: hidden;  /* Keep the image and buttons contained */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow */
}

.carousel-image {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;  /* Smooth transition between images */
}

.carousel-image.active {
    display: block;
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    background-color: #004080;  /* Dark blue background */
    color: #fff;  /* White text */
    border: none;
    padding: 10px;  /* Add some padding */
    border-radius: 50%;  /* Make the buttons circular */
    opacity: 0.7;  /* Make them slightly transparent */
    transition: opacity 0.3s ease;  /* Smooth transition for hover effects */
}

.prev:hover, .next:hover {
    opacity: 1;  /* Fully opaque on hover */
}

.prev { left: 10px; }
.next { right: 10px; }

.post-block {
    position: relative;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-block:hover {
    background-color: #f0f0f0;
}

textarea#postContent {
    font-size: 14px;
    width: 100%; /* Full width */
    min-height: 600px; /* Minimum height */
    resize: vertical; /* Allow vertical resize */
}

textarea#newPostContent {
    font-size: 14px;
    width: 100%; /* Full width */
    min-height: 600px; /* Minimum height */
    resize: vertical; /* Allow vertical resize */
}

.image-form {
    width: 100%; /* Full width */
}

.images-scrollable {
    width: 100%; /* Full width */
    max-height: 300px; /* Maximum height */
    overflow-y: scroll; /* Add scroll */
    margin-bottom: 20px; /* Space below */
}

.image-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between images */
}

.image-label input {
    margin-right: 10px; /* Space between checkbox and image */
}

.image-preview {
    max-width: 70%; /* Full width, but maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}


/* Updated CSS for checkboxes */
.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px; /* Adjusted space for the custom checkbox */
    cursor: pointer;
    font-size: 16px;
    color: #1a1a1a;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: #f8f8f8;
    border: 2px solid #004080;
    border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #004080;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#user-group-hashtags {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: fit-content;
}

#user-group-hashtags strong {
    margin-right: 10px;
    color: #004080;
}

#hashtagsInput {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

#saveHashtagsBtn {
    background-color: #004080;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#saveHashtagsBtn:hover {
    background-color: #003366;
}

#top-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

#token-section {
    position: absolute;
    right: 138%;
    top: 15%;
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.input-and-save {
    display: flex;
    align-items: center;
}

#token-section input {
    padding: 10px;
    margin-top:2px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px; /* Or whatever width you desire */
}

.get-token-btn {
    width: 100%;
    position: relative;
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.get-token-btn:hover {
    background-color: #004080;
}

.save-token-btn {
    position:relative;
    top: 33%;
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.save-token-btn:hover {
    background-color: #004080;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.login-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.login-overlay .overlay-content {
    position: fixed;
    top: 30%;
    left: 41%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px; /* Adjusted width */
}


.login-form label {
    display: block;
    color: #003366;
    margin-bottom: 5px;
}

.login-form input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px; /* Added space below each input */
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-form button {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #004080;
}